In [1]:
from google.cloud import bigquery

%load_ext google.cloud.bigquery

In [5]:
%%bigquery
SELECT COUNT(*) FROM `physionet-data.mimiciii_clinical.admissions`

     f0_
0  58976

In [7]:
%%bigquery admissions
SELECT * FROM `physionet-data.mimiciii_clinical.admissions`

In [8]:
admissions.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
0,8902,7275,136809,2139-08-28 12:35:00,2139-09-01 16:32:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,ICF,Medicare,ENGL,EPISCOPALIAN,DIVORCED,WHITE,2139-08-28 10:38:00,2139-08-28 14:30:00,ALTERED MENTAL STATUS; DYSPNEA,0,1
1,21467,17575,187131,2124-10-21 08:32:00,2124-11-01 11:14:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,ICF,Government,None,OTHER,SINGLE,BLACK/AFRICAN AMERICAN,2124-10-21 05:04:00,2124-10-21 09:52:00,MVA;TRAUMA,0,1
2,30863,25251,142346,2167-01-23 16:23:00,2167-02-06 13:53:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,ICF,Medicare,None,EPISCOPALIAN,DIVORCED,WHITE,2167-01-23 12:54:00,2167-01-23 18:00:00,INFECTED RIGHT FOOT,0,1
3,39212,32339,181355,2110-07-29 23:56:00,2110-08-04 15:10:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,ICF,Medicare,ENGL,JEWISH,MARRIED,WHITE,2110-07-29 20:17:00,2110-07-30 01:24:00,GASTROINTESTINAL BLEED;CHEST PAIN;TELEMETRY,0,1
4,37441,30746,155603,2131-08-22 23:07:00,2131-08-28 13:10:00,NaT,EMERGENCY,EMERGENCY ROOM ADMIT,ICF,Medicare,ENGL,JEWISH,DIVORCED,WHITE,2131-08-22 14:15:00,2131-08-23 01:20:00,ALTERED MENTAL STATUS,0,1

In [9]:
len(admissions)

58976